:root {
  --dark: hsl(217, 19%, 35%);
  --lightdark: hsl(214, 17%, 51%);
  --lightblue: hsl(212, 23%, 69%);
  --lightdarkblue: hsl(210, 46%, 95%);
}
@tailwind base;

@font-face {
  font-family: "Manrope", sans-serif;
  src: url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");
}
.popup-desktop {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.35s ease;
}
.show {
  visibility: visible;
  opacity: 1;
}
.popup-desktop::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 0;
  height: 0;
  border-top: 13px solid;
  @apply border-dark;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  transform: translateY(13px);
}
@tailwind components;

@tailwind utilities;

.share:hover path {
  fill: #fff;
}
.share:focus path {
  fill: #fff;
}
